.git
.github
.agents
.codex
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
.env.*
!.env.example
!.env.production.example
# public/storage
# public/build
public/hot
README.md
FCM_SETUP.md
AppMovilPollos

public/downloads/
public/downloads/*.apk
public/downloads/AppMovilPollos.apk
*.apk
